[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
psycopg2-binary = "*"
django-heroku = "*"
gunicorn = "*"
tensorflow = "*"
keras = "*"
tqdm = "*"
pillow = "*"

[dev-packages]
jupyter = "*"
