<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bkupfer</title>
</head>
<body>
    <div class="container">
        <h3>dog breed classifier</h3>
        <p>input an image of a dog, and we'll guess which breed of dog it is</p>
        <p>~ 82% accuracy</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="myfile">
            <button type="submit">Upload</button>
        </form>
        <p>Prediction: {{ prediction }}</p>
    </div>
</body>
</html>