<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="bernardo küpfer besa">
    <meta name="author" content="bkupfer">

    <title>bkupfer</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/clean-blog.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" type="image/png" href="static/favicon.ico">

    <style type="text/css">
        .monospaced {
            font-family: monospace
        }
        .monoheader {
            color: #F92371;
        }
        .section {
            color: #4194d8;
        }
        .subsection {
            color: #f0a64d;
        }
        .site-footer {
            background: #5496ec;
            color: #FFFFFF;
            text-align: center;
            padding: 2px;
        }
    </style>

</head>

<body>

    <header class="intro-header" style="background-image: url('static/img/bdo-leonera.jpg')">
        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>bküpfer</h1>
                    <hr class="small">
                    <span class="subheading">Bernardo J. Küpfer Besa ー Talento</span>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">

            <div class="col-md-8 col-xl-10" style="text-align: justify">
                <h3>Hello, Hola, Hallo, 今日は</h3>
                <p>
                    Bernardo here, Swiss-Chilean [🇨🇭🇨🇱] Computer Science Engineer (aka. wizard 🧙‍♂️),
                    currently living in Zürich, and open for new challenges and growth opportunities.
                </p>
                <h4><b><span class="section">Int</span>erests</b></h4>
                <p>
                    My professional interests go through the whole field of computer science and software engineering,
                    I enjoy learning as much as I can about it, with special emphasis in algorithms, web development,
                    and machine learning.
                </p>
                <p>
                    In these recent years I've been mostly dedicated to the web-development field, focusing on
                    understanding the full-stack. Both front-end and back-end have gone through lots of changes
                    during the last few years, being each time more flexible, powerful and allowing more creativity,
                    its a field super interesting.
                </p>
                <p>
                    I'm also thrilled to see where the Machine Learning revolution will take us, its rapidly changing the way
                    we approach and think about problems, and the way we are generating solutions,
                    that keeps me courious, constantly learning more about the field and its algorithms,
                    and definitively want to be part of the train driver wizardry team.
                </p>
                <p>
                    I'm eager to experiment and keep learning how to apply computer science and machine learning
                    through different fields to solve real-world problems and improve peoples lives.
                </p>
                <p>
                    Artificial Intelligence and video-games make a quite interesting combination, in particular,
                    research with Dota 2 and Starcraft II Open AI projects have captured my uttermost interest and have me
                    highly intrigued. First of all, because I love these video-games, and secondly because we are
                    in that point in history where it seems to be a feasible challenge to solve these games using AI.
                </p>

                <!--            <h4><b><span class="section">Lan</span>guages</b></h4>-->
                <!--            <p>-->
                <!--                I find joy in studying languages, and consider it to be enriching knowledge to have and one of-->
                <!--                my major challenges. I speak native Spanish, fluent English, basic Japanese, and am-->
                <!--                currently working on my (Swiss)-German.-->
                <!--            </p>-->
                <!--            <p>-->
                <!--                <b class="subsection">Japanese</b>:-->
                <!--                Why Japanese? Well, the truth is that I just founded it interesting, so I studied for-->
                <!--                <a href="https://www.dropbox.com/s/9fesjve6rdo40lp/%E6%97%A5%E6%9C%AC%E8%AA%9E%E3%81%AE%E5%8A%9B%E8%A9%A6%E9%A8%93.pdf?dl=0">-->
                <!--                     and passed-->
                <!--                </a> the <a href="http://www.jlpt.jp/e/about/levelsummary.html">JLPT-N5</a>-->
                <!--                (Japanese Language Proficiency Test, aka. 日本語能力試験).-->
                <!--                Even though its one of the basic levels, I consider it to be a solid step in my language-->
                <!--                learning journey and a nice achievement.-->
                <!--            </p>-->
                <!--            <p><b class="subsection">German</b>:-->
                <!--                This is my next language learning challenge, I'm fully aware that if I want to get to know-->
                <!--                Switzerland, the Swiss people, and their culture in depth, I must learn the local language,-->
                <!--                so that's my main motivation for studying German.-->
                <!--                I'm still a beginner in German, but I'm working on it 😉.-->
                <!--            </p>-->

                <!--            <h4><b><span class="section">Spo</span>rts</b></h4>-->
                <!--            <p>-->
                <!--                <b class="subsection">Martial arts</b>:-->
                <!--                I've trained different martial arts, but my main focus has been-->
                <!--                <a href="https://en.wikipedia.org/wiki/Choy_Li_Fut">Choy Lee Fut Kung-fu</a>-->
                <!--                (<span style="color: rebeccapurple">蔡李佛</span>), which I trained for about 7 years.-->
                <!--                I've also trained in other martial arts styles such as Taekwondo.-->
                <!--            </p>-->
                <!--            <p>-->
                <!--                <b class="subsection">Hicking</b>:-->
                <!--                In the picture above I am at <a href="http://www.wikiexplora.com/Cerro_Leonera">La Leonera</a>-->
                <!--                at about 5000 [mt]. Hicking is one of my personal favorites.-->
                <!--            </p>-->

            </div>


            <div class="col-md-4 col-xl-2 monospaced" style="font-size: 15px">
                &lt;<span class="monoheader">cv</span>&gt;<a href="{{ cv_link }}" target="_blank">Downloadable_CV.pdf</a>&lt;/<span class="monoheader">cv</span>&gt;<br><br>
            </div>


            <div class="col-md-4 col-xl-2 monospaced">
                &lt;<span class="monoheader">contact-information</span>&gt;<br>
                &nbsp;&nbsp;&lt;<span class="monoheader">email</span>&gt;bdokupferb@gmail.com&lt;/<span class="monoheader">email</span>&gt;<br>
                &nbsp;&nbsp;&lt;<span class="monoheader">phone</span>&gt;(+41)&nbsp;76&nbsp;584&nbsp;83&nbsp;02&lt;/<span class="monoheader">phone</span>&gt;<br>
                &nbsp;&nbsp;&lt;<span class="monoheader">github</span>&gt;<a href="https://github.com/bkupfer/" target="_blank">/bkupfer</a>&lt;/<span class="monoheader">github</span>&gt;<br>
                &nbsp;&nbsp;&lt;<span class="monoheader">linkedin</span>&gt;<a href="https://www.linkedin.com/in/bkupfer/?locale=en_US" target="_blank">/in/bkupfer</a>&lt;/<span class="monoheader">linkedin</span>&gt;<br>
                &nbsp;&nbsp;&lt;<span class="monoheader">b-day</span>&gt;13-Sept-1991 <small>[{{ my_age }} y.o.]</small>&lt;/<span class="monoheader">b-day</span>&gt;<br>
                &lt;/<span class="monoheader">contact-information</span>&gt;<br>
            </div>


            <div class="col-md-4 col-xl-2 monospaced" style="margin-top: 30px;">
                &lt;<span class="monoheader">professional-references</span>&gt;<br>
                &nbsp;&nbsp;&lt;<span class="monoheader">name</span>&gt;Manuel&nbsp;José&nbsp;Ovalle&lt;/<span class="monoheader">name</span>&gt;<br>
                &nbsp;&nbsp;&lt;<span class="monoheader">email</span>&gt;mjovalle@gmail.com&lt;/<span class="monoheader">email</span>&gt;<br>
                &nbsp;&nbsp;&lt;<span class="monoheader">phone</span>&gt;(+56)&nbsp;9&nbsp;82596345&lt;/<span class="monoheader">phone</span>&gt;<br>
                <!--            &nbsp;&nbsp;&lt;<span class="monoheader">website</span>&gt;<a href="https://www.manungo.cl/">https://www.manungo.cl/</a>&lt;/<span class="monoheader">website</span>&gt;<br>-->
                &lt;/<span class="monoheader">professional-reference</span>&gt;
            </div>
        </div>


    </div>
        <footer class="site-footer">
            <div id="footer-content">
                <p>Copyright 2002 @ Domain - All Rights Reserved </p>
            </div>
        </footer>


    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/clean-blog.js"></script>
</body>

</html>
